<h1>Products List</h1>

<% @products.each do |product| %>

<p><%= product.name %></p>
<p><%= product.description %></p>
<p><%= product.formatted_price %></p>

<%end%>

<%= link_to 'New', new_product_path %>